@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

    <ul class="navbar-nav">
        @if (SignInManager.IsSignedIn(User))
        {

            if (User.IsInRole("Admin"))
            {
                <li>
                    <a class="nav-link text-dark" asp-area="" asp-page="/Overview">Overview</a>
                </li>
                <li>
                    <a class="nav-link text-dark" asp-area="" asp-page="/EventLog">Event Log</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Admin/Register">Register</a>
                </li>

            }
            <li class="nav-item">
                <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post">
                    <button type="submit" class="nav-link btn btn-link text-dark">Logout</button>
                </form>
            </li>
            <li class="nav-item">
                <div class="nav-link text-dark" asp-area="" asp-page="" title="Manage"> @User.Identity.Name</div>
            </li>
        }

    </ul>
